{% set no_page_header = true %}
{% extends 'theme::layouts.right_sidebar' %}

{% block content %}

    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">Test 1</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">Test 1</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">Test 1</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">Test 2</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">Test 3</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">Test 4</div>
            </div>
        </div>
    </div>
{% endblock %}