{% if not no_page_header %}

  <div class="page-header">
    <h1>{{ title|default('Starter App') }}</h1>
    <!-- breadcrumb -->
    <ul class="breadcrumb">
      <li><a href="#">Home</a> <span class="divider"></span></li>
      <li><a href="#">Tabel</a> <span class="divider"></span></li>
      <li class="active">Data</li>
    </ul>
  </div>
  
{% endif %}