<ul class="nav sidenav">
  <li class="">
    <a href="#demo"><span class="glyphicon glyphicon-home"></span>Demo</a>
    <ul class="nav">
      <li><a href="{{ url_to('sablon-demo/dashboard') }}">Dashboard</a></li>
      <li><a href="{{ url_to('sablon-demo/tables') }}">Tables</a></li>
      <li><a href="{{ url_to('sablon-demo/forms') }}">Forms</a></li>
    </ul>
  </li>
  <li>
    <a href="{{ url_to('sablon-demo/signin') }}"><span class="glyphicon glyphicon-user"></span>Sign in page</a>
  </li>
  <li>
    <a href="#lorem"><span class="glyphicon glyphicon-send"></span>Lorem Ipsum</a>
    <ul class="nav">
      <li><a href="#examples">Example</a></li>
      <li><a href="#foo">Foo</a></li>
    </ul>
  </li>
</ul>